# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Go files
[*.go]
indent_style = tab
indent_size = 4

# TypeScript and TypeScript React files
[*.{ts,tsx}]
indent_style = space
indent_size = 2

# JavaScript files
[*.js]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.yaml,*.yml]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# Go mod and sum files
[go.mod]
indent_style = tab
indent_size = 4

[go.sum]
indent_style = tab
indent_size = 4

# CSS, SCSS, and Less files
[*.{css,scss,less}]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2